@font-face {
    font-family: karatula;
    src: url("LLKARATULA020721.otf") format("opentype");
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 432px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}

div#container {
    box-shadow: 0 50px 100px -20px rgba(50,50,93,.25),0 30px 60px -30px rgba(0,0,0,.3);
    margin-bottom: 32px;
}

table {
    border-spacing: 0;
    padding: 24px;
}

td {
    background-color: #FFFFFF;
    border: 1px solid #2A2C2D;
}

body table td, th {
    padding: 0px;
    width: 80px;
    height: 80px;
}

th {
    font-family: karatula;
    /* color: #DD1155; */
    /* color: #FF1B1C; */
    /* color: #29339B; */
    color: #2A2C2D;
    /* font-size: 50px; */
}

button {
    background-color: #2A2C2D;
    border: 2px solid #2A2C2D;
    color: white;
    padding: 16px 24px 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    border-radius: 100px;
}

button:active {
    background-color: white;
    border: 2px solid #2A2C2D;
    color: #2A2C2D;
}

button a, button a:visited, button a:hover, button a:active {
    color: inherit;
    text-decoration: none;
}

.h1 {
    font-size: 66px;
}

.h2 {
    font-size: 50px;
}

.h3 {
    font-size: 37px;
}

.h5 {
    font-size: 21px;
}

td {
    text-align: center;
}

.poppins {
    font-family: 'Poppins', 'sans-serif';
}


.color-form {
    margin-bottom: 8px
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -3px;
    position: relative;
    background-image: inherit;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -3px;
    position: relative;
    background-image: inherit;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #2A2C2D;
}


.malibu-beach {
    background-image: linear-gradient(to bottom right, #00F2FE 0%, #4FACFE 100%);
}

.ripe-malinka {
    background-image: linear-gradient(to bottom right, #f093fb 0%, #f5576c 100%);
}

.new-life {
    background-image: linear-gradient(to bottom right, #43e97b 0%, #38f9d7 100%);
}

.blessing {
    background-image: linear-gradient(to bottom right, #fddb92 0%, #d1fdff 100%);
}

.true-sunset {
    background-image: linear-gradient(to bottom right, #fee140 0%, #fa709a 100%);
}

.sharpeye-eagle {
    background-image: linear-gradient(to bottom right, #9890e3 0%, #b1f4cf 100%);
}